header{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding:10px;
  margin:5px;
  border: 2px solid blue;
}
main{
  background-image: url('/paper-bg.webp');
  color: rgb(217, 119, 87);
  background-size: cover;
  display:flex;
  margin:10px;
  color:blue;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}
