.Login-Form main{
  background-image: url('/paper-bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: rgb(217, 119, 87);
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.adminLogin{
    background-color:white;
    display:flex;
    height:400px;
    width:500px;
    flex-direction:column;
    padding:15px;
    border:2px solid black;
    gap:20px;
}

.adminLogin button{
  margin-top:10px;
}

